<div class="header-start-section">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">This is blume.</h1>
      <h2 class="mat-h2">
        This website is made to aggregate all the stores and shops of
        chukkhuwala, so that you can find them in one place i.e. here, no matter
        how small or big the shop!
      </h2>
    </div>
  </div>
</div>

<div style="margin: 40px">
  <h1 style="font-size: 26px; font-weight: 500">
    Want to make any suggestion,feedback?
  </h1>
  <p style="font-size: 20px; line-height: 1.6">
    Chukkhuwala has more than 50+ shops of almost everytype, so we have a luxury
    of not going to the market and getting all the basic needs in our colony
    only. This site helps in finding the desired shop of your need quickly.<br />

    If you want to contribute to this project head over
    <a
      href="https://github.com/blume0F/chukkhuwala-shops-angular-app"
      target="_blank"
      >here!</a
    >
    Any idea or contribution would be highly appreciated. I will be adding more
    features in the near future so stay tuned.
  </p>
</div>

<div class="connect-top">Feel free to connect with me on these platform!</div>

<div class="connect-with-me">
  <ul>
    <li class="zoom">
      <a href="https://twitter.com" target="_blank"
        ><img src="https://img.icons8.com/color/96/000000/twitter--v1.png"
      /></a>
      <p>Twitter</p>
    </li>
    <li class="zoom">
      <a href="https://twitter.com" target="_blank"
        ><img
          src="https://img.icons8.com/color/96/000000/instagram-new--v1.png"
      /></a>
      <p>Instagram</p>
    </li>
    <li class="zoom">
      <a href="https://twitter.com" target="_blank"
        ><img src="https://img.icons8.com/color/96/000000/medium-logo.png"
      /></a>
      <p>Medium</p>
    </li>
  </ul>
</div>
