<h2 mat-dialog-title>Add your shop details!</h2>

<div mat-dialog-content>
  <form [formGroup]="shopForm">
    <mat-form-field appearance="outline">
      <mat-label>Shop Name</mat-label>
      <input
        formControlName="shopName"
        matInput
        placeholder="Enter your shop name"
      />
      <mat-icon matSuffix>person_pin</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Shop Address</mat-label>
      <input
        formControlName="shopAddress"
        matInput
        placeholder="Enter your shop address"
      />
      <mat-icon matSuffix>place</mat-icon>
    </mat-form-field>

    <div class="container">
      <div class="card">
        <div class="card-header">Upload a image of your shop.</div>
        <div class="card-body">
          <h5 class="card-title">Select a file for upload.</h5>
          <input
            id="file-upload"
            type="file"
            (change)="upload($event)"
            accept="image/*"
          />
        </div>
      </div>
    </div>
    <br />

    <mat-form-field appearance="outline">
      <mat-label>Mobile Number</mat-label>
      <input
        formControlName="shopNumber"
        matInput
        placeholder="Enter your mobile number"
      />
      <mat-icon matSuffix>contact_phone</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Shop Timings </mat-label>
      <input
        formControlName="shopTimings"
        matInput
        placeholder="Enter your shop timings"
      />
      <mat-icon matSuffix>access_time</mat-icon>
      <mat-hint>For Ex. 9:00 AM - 8:30 PM</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Shop Category</mat-label>
      <mat-chip-list
        #chipList
        aria-label="Category selection"
        formControlName="shopCategory"
      >
        <mat-chip
          *ngFor="let category of categories.value"
          (removed)="remove(category)"
        >
          {{ category }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="New category..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Shop Details </mat-label>
      <textarea
        formControlName="shopDescription"
        matInput
        placeholder="Enter your shop description"
      ></textarea>
    </mat-form-field>
  </form>
</div>

<div>
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button
      [disabled]="shopForm.invalid"
      style="margin-left: 10px"
      mat-raised-button
      color="primary"
      (click)="addShop()"
    >
      {{ btnCurrentVal }}
    </button>
  </div>
</div>
