<div class="header-start-section">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Want to add your shop?</h1>
      <h2 class="mat-h2">
        Just click on the sign in button. It's that simple :]
      </h2>
      <div class="header-start">
        <button
          style="margin-left: 10px"
          mat-raised-button
          *ngIf="(afAuth.authState | async) === null"
          (click)="signIn()"
          color="accent"
        >
          Sign In
        </button>
        <button
          style="margin-left: 10px"
          *ngIf="afAuth.authState | async"
          (click)="signOut()"
          mat-raised-button
          color="basic"
        >
          Sign Out
        </button>
      </div>
    </div>
  </div>
</div>

<div style="margin: 40px" *ngIf="afAuth.authState | async">
  <mat-card style="font-size: 20px; font-weight: 400"
    >Looks like you are already logged in.Please click on add your shop button
    to add your shop</mat-card
  >
</div>
